@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  width: 320px;
  height: 512px;
  margin: 0;
  background-color: rgb(103 232 249 / 0.5);
  font-family: -apple-system, 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
